<div class="page-header">
	<h1>Agenda</h1>
</div>

<ul class="nav nav-pills">
  <li role="event-type" class="active"><a href="#">Eventos confirmados</a></li>
  <li role="event-type"><a href="#">Invitaciones pendientes</a></li>
</ul>

<br />
<br />

<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-success" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-success" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-success" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-success" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
</div>
