<div class="page-header">
	<h1>My Events</h1>
</div>

<br />
<br />

<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Birthday</h4>
    <p class="list-group-item-text small">March 10th 2016 - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-danger" href="#">Cancel</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Birthday</h4>
    <p class="list-group-item-text small">March 10th 2016 - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-danger" href="#">Cancel</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Birthday</h4>
    <p class="list-group-item-text small">March 10th 2016 - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-danger" href="#">Cancel</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Birthday</h4>
    <p class="list-group-item-text small">March 10th 2016 - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Edit</a> <a class="btn btn-danger" href="#">Cancel</a>
  </div>
</div>
