<div class="page-header">
	<h1>My Events</h1>
</div>

<br />
<br />

<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Editar</a> <a class="btn btn-danger" href="#">Cancelar</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Cumpleaños</h4>
    <p class="list-group-item-text small">10 de Marzo - 17:00hs / <strong>Mariano Finochietto</strong></p>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <a class="btn btn-primary" href="#">Aceptar</a> <a class="btn btn-danger" href="#">Declinar</a>
  </div>
</div>
