<div class="page-header">
  <h1>Edit Event</h1>
</div>

<form ng-submit="createEventForm.$valid && event.saveEvent()" class="form-horizontal" name="createEventForm" novalidate>

  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" ng-model="event.eventData.title" name="title" required>
      <div ng-show="createEventForm.$submitted" ng-messages="createEventForm.title.$error" ng-messages-include="/app/views/shared/formMessages.html"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-6">
      <textarea class="form-control" ng-model="event.eventData.description" name="description"  required></textarea>
      <div ng-show="createEventForm.$submitted" ng-messages="createEventForm.description.$error" ng-messages-include="/app/views/shared/formMessages.html"></div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Date</label>
    <div class="col-sm-2">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="event.eventData.datetime" is-open="event.viewStatus.datepickerOpened" close-text="Close" name="date"  ng-disabled="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="event.viewStatus.datepickerOpened = !event.viewStatus.datepickerOpened"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Time</label>
    <div class="col-sm-6">
      <uib-timepicker ng-model="event.eventData.datetime" ng-disabled="true" minute-step="1" name="time"></uib-timepicker>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Guests</label>
    <div class="col-sm-4">
      <select ng-model="event.eventStaging.guest" class="form-control" ng-options="guest._id as guest.firstname for guest in event.eventPotential.guests" name="gests">
      </select>
    </div>
    <div class="col-sm-2">
      <a ng-click="event.addGuest(event.eventStaging.guest)" class="btn btn-block btn-primary">Add</a>
    </div>
  </div>

  <ul>
    <li ng-repeat="guest in event.eventData.guests">{{event.getGuestName(guest.user)}} ({{event.getGuestStatus(guest.status)}}) <a href="#" ng-click="event.removeGuest(guest.user)">Remove</a></li>
  </ul>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-block btn-primary" ng-disabled="event.processing">
        <span ng-if="!event.processing">Update Event</span>
        <span ng-if="event.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
      </button>
    </div>
  </div>
</form>
