<div class="page-header">
	<h1>{{event.viewStatus.title}}</h1>
</div>

<uib-tabset active="activePill" type="pills">
  <uib-tab index="0" heading="Future events">

    <div class="list-group">
      <div class="list-group-item" ng-repeat="item in event.eventList | filter:event.isFuture">
        <h4 class="list-group-item-heading">{{item.event.title}}</h4>
        <p class="list-group-item-text small">{{item.event.date}}</p>
        <p class="list-group-item-text">{{item.event.description}}</p>

        <div ng-if="event.viewStatus.admin">
          <a class="btn btn-primary" ng-href="/editevent/{{item.event._id}}">Edit</a> <a class="btn btn-danger" ng-click="event.cancelEvent(item.event._id)" href="#">Cancel</a>
        </div>

      </div>
    </div>

  </uib-tab>
  <uib-tab ng-if="!event.viewStatus.admin" index="1" heading="Pending invitations">

    <div class="list-group">
      <div class="list-group-item" ng-repeat="item in event.eventList | filter:event.isPending">
        <h4 class="list-group-item-heading">{{item.event.title}}</h4>
        <p class="list-group-item-text small">{{item.event.date}}</p>
        <p class="list-group-item-text">{{item.event.description}}</p>

        <div ng-if="event.viewStatus.admin">
          <a class="btn btn-primary" ng-href="/editevent/{{item.event._id}}">Edit</a> <a class="btn btn-danger" ng-click="event.cancelEvent(item.event._id)" href="#">Cancel</a>
        </div>

        <div>
          <a class="btn btn-success" href="#">Accept</a> <a class="btn btn-danger" href="#">Decline</a>
        </div>
      </div>
    </div>

  </uib-tab>
</uib-tabset>
